(spawn_rate:0.05,spawn_amount:1,emission_shape:Point,lifetime:(2.0,0.85),linear_speed:Some((10.0,0.2)),linear_acceleration:Some((0.0,0.5)),direction:Some(((0.0,0.0),0.25)),angular_speed:Some((0.0,0.0)),angular_acceleration:Some((0.0,0.0)),scale:Some((50.0,0.5)),color:None,gravity_direction:Some(((0.0,0.0),0.0)),gravity_speed:Some((0.0,0.0)),linear_damp:Some((2.0,0.25)),angular_damp:Some((0.0,0.0)),scale_curve:None,color_curve:None)